<!D0CTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//ENM> 
<html lang="ru"> 
<head> 
<title>{% block title %}{% endblock %}</title> 
</head> 
<body> 
<h1>Карты Ошо Дзен Таро</h1> 
<p>Здесь будет верхняя менюшка</p>
<p><a href="http://10.2.17.219:8000">Главная</a> | <a href="http://10.2.17.219:8000/choice-taro/">Выбор расклада</a> | <a href="http://10.2.17.219:8000/all/">Все карты</a> | <a href="http://10.2.17.219:8000/random/">Случайная карта</a></p>
{% block content %}{% endblock %} 
{% block footer %} 
<hr> 
<p>Мы в социальных сетях: бла бла бла. Следуйте за нами в Твиттере и прочих</p> 
{% endblock %} 
</body> 
</html> 
